
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
.header {
  background: linear-gradient(90deg, #050c2b, #1c3c42);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px; 
  margin-top: 0; 
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: sticky; 
  top: 0;
  z-index: 1000;
}
.header h1{
    font-size: 1.8rem;
    margin: 0;
}
.nav-list{
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-list li {
    list-style: none;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}
.nav-list li:hover {
  color: #00d4ff; 
  transform: scale(1.05);
}.nav-list li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 4px; 
  padding: 5px 10px;
  transition: all 0.2s;
}

.nav-list li a:hover {
  color: #00d4ff;
}

.nav-list li a.active {
  border-bottom: 2px solid #00d4ff;
  color: #00d4ff;
  font-weight: bold;
}

.icon {
  font-size: 1rem; 
}